<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Home</a>
      <a mat-list-item routerLink="dashboard-nav">
        <img src="/assets/image/dashboard.png" alt="">
        <h3>Home Dashboard</h3>
      </a>
      <button routerLink="admin-settings">admin-settings</button>
      <a mat-list-item [routerLink]="['/visiter']">
        <img src="/assets/image/visitor.png" alt="">
        <h3>Visiter l'institut</h3>
      </a>
      <a mat-list-item [routerLink]="['/Inscription']">
        <img src="/assets/image/online-registration.png" alt="">
        <h3>Inscriptions</h3>
      </a>
      <a mat-list-item [routerLink]="['/Liste']">
        <img src="/assets/image/customer.png" alt="">
        <h3>Gerer concours</h3>
      </a>
      <a mat-list-item [routerLink]="['/Liste']">
        <img src="/assets/image/customer.png" alt="">
        <h3>Gerer personnel</h3>
      </a>
      <a mat-list-item [routerLink]="['/Liste']">
        <img src="/assets/image/customer.png" alt="">
        <h3>Gerer filiere</h3>
      </a>
      <a mat-list-item [routerLink]="['/Liste']">
        <img src="/assets/image/customer.png" alt="">
        <h3>Consulter statistique</h3>
      </a>
      <a mat-list-item [routerLink]="['/Liste']">
        <img src="/assets/image/customer.png" alt="">
        <h3>Gerer date concours</h3>
      </a>
      <button routerLink="admin-settings">scolarite-setting</button>
      <a mat-list-item [routerLink]="['/Emploi_temps']">
        <img src="/assets/image/deadline.png" alt="">
        <h3>Gerer niveau</h3>
      </a>
      <a mat-list-item [routerLink]="['/Emploi_temps']">
        <img src="/assets/image/deadline.png" alt="">
        <h3>Gerer classe</h3>
      </a>
      <a mat-list-item [routerLink]="['/Emploi_temps']">
        <img src="/assets/image/deadline.png" alt="">
        <h3>Gerer presence</h3>
      </a>
      <a mat-list-item [routerLink]="['/Emploi_temps']">
        <img src="/assets/image/deadline.png" alt="">
        <h3>Consulter solvabilite</h3>
      </a>
      <a mat-list-item [routerLink]="['/Emploi_temps']">
        <img src="/assets/image/deadline.png" alt="">
        <h3>Emploi_temps</h3>
      </a>
      <a mat-list-item [routerLink]="['/Concours']">
        <img src="/assets/image/checklist.png" alt="">
        <h3>Concours</h3></a>
      <a mat-list-item [routerLink]="['/Certificat']">
        <img src="/assets/image/school-certificate.png" alt="">
        <h3>Certificat</h3>
      </a>
      <a mat-list-item [routerLink]="['/Certificat']">
        <img src="/assets/image/logout.png" alt="">
        <h3>Déconnection</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon  routerLink="" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SYGESCO</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
