<app-navbar></app-navbar>
<div class="container">
	<div class="forms-container">
		<div class="signin-signup">
			<form action="../Home/index.html" class="sign-in-form">
				<h2 class="title">Connexion</h2>
				<div class="input-field">
					<i class="fas fa-user"></i>
					<input type="text" placeholder="Username">
				</div>
				<div class="input-field">
					<i class="fas fa-lock"></i>
					<input type="password" placeholder="Password">
				</div>
				<input type="submit" value="Connexion" class="btn solid">

			</form>
		</div>
		<div class="panels-container">
			<div class="panel left-panel">
				<div class="content">
					<h3>Du nouveau ici ?</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus impedit quidem quibusdam?</p>
					<button class="btn transparent" id="sign-up-btn">S'inscrire</button>
				</div>

				<img src="assets/image/login.svg" class="image">
			</div>
		</div>
	</div>