/* .grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
} */


:root{
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --card-border-radius:2rem;
  --border-raduis: 0.4rem;
  --border-raduis-2: 0.8rem;
  --border-raduis-3: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);

  --color-light: rgba(132, 139, 200, 0.18);
}

img{
padding-left: 20px;
height: 3rem;
}
/* link{
font-size: 3em !important;
} */

.date{
display: inline-block;
background-color: aliceblue;
border-radius: 1rem;
padding: 0.5rem 1.6rem;
}

.date input[type="date"]{
background: transparent;
color: darkblue;
}

.insights{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1.6rem;
color: darkgray;
}

.insights > div{
background-color: white;
padding: 1.8rem;
border-radius: 18px;
margin-top: 1rem;
}

.insights > div:hover{
box-shadow: none;
box-shadow: 0 2rem 3rem;
transition: all 300ms ease;
}

.insights > div img{
background-color: greenyellow ;
padding: 0.5rem;
border-radius: 50%;
color: aliceblue;
font-size: 2rem;
}

.insights > div.expenses img{
background-color: aquamarine;
}

.insights > div.icome img{
background-color: aqua;
}

.insights > div .middle{
display: flex;
line-height-step: center;
justify-content: space-between;
}

.insights h3{
margin: 1rem 0  0.6rem;
font-size: 1rem;
}

.insights .progress {
position: relative;
width: 92px;
height: 92px;
border-radius: 50%;
background-color: white;
}

.insights svg{
width: 7rem;
height: 7rem;
}

.insights svg circle {
fill: none;
stroke: blue;
stroke-width: 14;
stroke-linecap: round;
transform: translate(5px, 5px);
stroke-dasharray: 110;
stroke-dashoffset: 92;
}

.insights .etudiants svg circle{
stroke-dashoffset: -30;
stroke-dasharray: 200;
}

.insights .enseignants svg circle{
stroke-dashoffset: 20;
stroke-dasharray: 80;
}

.insights .utilisateur svg circle{
stroke-dashoffset: 35;
stroke-dasharray: 110;
}

.insights .progress .number{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.utilisateur_recent{
margin-bottom: 2rem;
}

.utilisateur_recent h2{
margin-bottom: 0.8rem;
padding-top: 100px;
padding-left: 65px;
}

.utilisateur_recent table{
background-color: white;
width: 100%;
border-radius: 1rem;
padding: var(--card-padding);
text-align: center;
box-shadow: var(--box-shadow);
transition: all 300ms ease;
}

.utilisateur_recent table:hover{
box-shadow: none;
} 

